<div class="container mt-5">
  <h2>Checkout</h2>
  <div class="row">
    <div class="col-md-6">
      <%= form_with(model: @user, url: create_order_path, method: :post, local: true) do |f| %>
        <div class="mb-3">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control", value: @user.name %>
        </div>
        <div class="mb-3">
          <%= f.label :address %>
          <%= f.text_field :address, class: "form-control", value: @user.address %>
        </div>
        <div class="mb-3">
          <%= f.label :province %>
          <%= f.select :province, @provinces, { selected: @user.province }, class: "form-control" %>
        </div>
        <h4>Order Summary</h4>
        <p>Subtotal: $<%= @subtotal %></p>
        <p>Tax: $<%= @tax %></p>
        <p>Total: $<%= @total_amount %></p>
        <%= f.submit "Place Order", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
