<%= form_with url: create_order_cart_index_path, local: true do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, value: @user.name, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, value: @user.email, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_area :address, value: @user.address, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :province %>
    <%= f.select :province, options_for_select(@provinces, @user.province), {}, class: "form-control", required: true %>
  </div>

  <%= f.submit "Proceed to Checkout", class: "btn btn-primary mt-3" %>
<% end %>
