<table class="table table-striped">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        #<td><%= product.image %></td>
        <td><%= product.name %></td>
        <td><%= number_to_currency(product.price) %></td>
        <td>
          <%= link_to "Edit", edit_admin_product_path(product), class: "btn btn-sm btn-warning" %>
          <%= link_to "Delete", admin_product_path(product), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
