<!DOCTYPE html>
<html>
<head>
  <title>Admin Dashboard</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
</head>
<body>
  <%= render 'header' %>
    <h1>Admin Dashboard</h1>
  <div class="container-fluid mt-4">
    <div class="row">
      <%= render 'sidebar' %>
      <div class="col-md-10">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>


