<!DOCTYPE html>
<html>
<head>
  <title>Admin Dashboard</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
  <%= render 'header' %>
  <div class="container-fluid">
    <div class="row">
      <%= render 'sidebar' %>
      <div class="col-md-10">
        <%= yield %>
      </div>
    </div>
  </div>

  <div class="row mb-3">
  <div class="col-xl-3 col-sm-6 py-2">
      <div class="card bg-success text-white h-100">
          <div class="card-body bg-success">
              <div class="rotate">
                  <i class="fa fa-user fa-4x"></i>
              </div>
              <h6 class="text-uppercase">Users</h6>
              <h1 class="display-4">134</h1>
          </div>
      </div>
  </div>
  <div class="col-xl-3 col-sm-6 py-2">
      <div class="card text-white bg-danger h-100">
          <div class="card-body bg-danger">
              <div class="rotate">
                  <i class="fa fa-list fa-4x"></i>
              </div>
              <h6 class="text-uppercase">Products</h6>
              <h1 class="display-4">120</h1>
          </div>
      </div>
  </div>
  <div class="col-xl-3 col-sm-6 py-2">
      <div class="card text-white bg-info h-100">
          <div class="card-body bg-info">
              <div class="rotate">
                  <i class="fa fa-twitter fa-4x"></i>
              </div>
              <h6 class="text-uppercase">Categories</h6>
              <h1 class="display-4">4</h1>
          </div>
      </div>
  </div>
  <div class="col-xl-3 col-sm-6 py-2">
      <div class="card text-white bg-warning h-100">
          <div class="card-body">
              <div class="rotate">
                  <i class="fa fa-share fa-4x"></i>
              </div>
              <h6 class="text-uppercase">Brands</h6>
              <h1 class="display-4">19</h1>
          </div>
      </div>
  </div>
</div>

</body>
</html>


