<%= render 'header' %>

<div class="container my-1">
  <h1 class="p-2">Products</h1>

  <%= form_with(url: products_path, method: :get, local: true, class: "mb-4") do %>
    <div class="form-row align-items-center justify-content-between">
      <div class="col-auto">
        <label for="category_id" class="mr-2">Filter by Category</label>
      </div>
      <div class="col-2 d-flex">
        <%= select_tag :category_id, options_for_select(@categories.collect { |c| [c.name, c.id] } + [['All Categories', 'all']], params[:category_id]), class: "form-control form-control-sm mr-2" %>
        <%= submit_tag "Filter", class: "btn btn-primary btn-sm" %>
      </div>
    </div>
  <% end %>

  <!-- Products List -->
  <div class="products-list row">
    <% @products.each do |product| %>
      <div class="col-md-6 col-sm-6 mb-4">
        <div class="product-card card">
          <div class="card-body">
            <h5 class="card-title"><%= link_to product.name, product_path(product) %></h5>
            <p class="card-text text-muted">Price: $<%= product.price %></p>
    <%= button_to 'Add to Cart', cart_add_path(product_id: product.id), method: :post, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Pagination -->
  <div class="pagination justify-content-end mt-2">
    <%= paginate @products %>
  </div>
</div>
